/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;


.no-select {
  user-select: none; /* Забороняє виділення тексту */
}

.no-drag {
  -webkit-user-drag: none; /* Для Chrome/Safari */
  user-drag: none; /* Для інших браузерів */
}
